/*!
 * Start Bootstrap - Blog Post (https://startbootstrap.com/template-overviews/blog-post)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-post/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

nav{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  padding-left:0;
  margin-bottom:0;
  list-style:none
}

.pagenav li a{
  display:block;
  padding:.5rem 1rem
}

.pagenav li a:focus,.pagenav li a:hover{
  text-decoration:none
}

.pagenav li a.disabled{
  color:#6c757d
}

.nav-tabs{
  border-bottom:1px solid #dee2e6
}

.nav-tabs .pagenav li{
  margin-bottom:-1px
}

.nav-tabs .pagenav li a{
  border:1px solid transparent;border-top-left-radius:.25rem;border-top-right-radius:.25rem
}
.nav-tabs .pagenav li a:focus,.nav-tabs .pagenav li a:hover{
  border-color:#e9ecef #e9ecef #dee2e6
}

.nav-tabs .pagenav li a.disabled{
  color:#6c757d;
  background-color:transparent;
  border-color:transparent
}

.nav-tabs .pagenav li.show .pagenav li a,.nav-tabs .pagenav li a.active{
  color:#495057;
  background-color:#fff;
  border-color:#dee2e6 #dee2e6 #fff
}

.nav-tabs .dropdown-menu{
  margin-top:-1px;
  border-top-left-radius:0;
  border-top-right-radius:0
}

.nav-pills .pagenav li a{
  border-radius:.25rem
}

.nav-pills .pagenav li .active,.nav-pills .show>.pagenav li a{
  color:#fff;
  background-color:#007bff
}
  
.nav-fill .pagenav li{
  -ms-flex:1 1 auto;
  flex:1 1 auto;
  text-align:center
}

.nav-justified .pagenav li{
  -ms-flex-preferred-size:0;
  flex-basis:0;
  -ms-flex-positive:1;
  flex-grow:1;
  text-align:center
}

